<ion-header no-border>
  <ion-navbar>
    <ion-title>ENTRAR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">
  <ion-list>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" formControlName="email" validate-onblur></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="loginForm.controls['email'].pristine && loginFormSubmitted">Insira seu e-mail.</p>
      <p class="error-message" *ngIf="loginForm.controls['email'].dirty && loginForm.controls['email'].hasError('invalidInput')">Insira um e-mail válido.</p>
      <p class="error-message" *ngIf="loginForm.controls['email'].hasError('notFound')">E-mail não cadastrado.</p>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="password" validate-onblur></ion-input>
      </ion-item>
      <p class="error-message" *ngIf="loginForm.controls['password'].pristine && loginFormSubmitted">Insira sua senha.</p>
      <p class="error-message" *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('invalidInput')">A senha precisa ter entre 6 e 20 caracteres.</p>
      <p class="error-message" *ngIf="loginForm.controls['password'].hasError('wrongPassword')">Senha incorreta.</p>
    </form>
  </ion-list>
  <div class="vertical-center">
    <button ion-button (click)="login()">Entrar</button>
    <p>Ainda não tem conta? <a (click)="createAccount()">Crie uma agora</a></p>
  </div>
</ion-content>