page-home {
  .info-message {
    margin-top: 0;
    color: #606060;
    padding: 15px;
    background-color: map-get($colors, primarylighten);
    border-radius: 5px;
  }

  .input-has-focus + .audio-button {
    opacity: 0;
  }
}
