<ion-header no-border>
  <ion-navbar>
    <ion-title>
      MEUS MAPAS
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="info-message" *ngIf="loadingFinished === true && userMaps.length == 0">Você ainda não criou nenhum mapa. <br> Vamos criar um agora?</p>
  <div class="map-card" *ngFor="let map of userMaps">
    <div class="map-title" (click)="openMap(map)">{{ map.name }}</div>
    <div class="map-markers-count" *ngIf="map.markers" (click)="openMap(map)">{{ map.markers.length }} marcadores</div>    
    <div class="map-markers-count" *ngIf="!map.markers" (click)="openMap(map)">0 marcadores</div>    
    <div class="edit-map">
      <ion-icon name="create" (click)="editMap(map)"></ion-icon>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <div class="vertical-center">
      <button ion-button (click)="newMap()">Criar novo mapa</button>
    </div>
  </ion-toolbar>
</ion-footer>