@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Montserrat';
}

.button-md {
	text-transform: none;
}

ion-label {
	font-size: 0.8em !important;
}

.no-border > .item-inner {
	border-bottom: none !important;
}

.list-md .item-input {
	border-bottom: none !important;
}

//.list-md .item-input:last-child {
//	border-bottom: none !important;
//}

//.item-md.item-input.input-has-focus .item-inner {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}

//.list-md .item-input.input-has-focus:last-child {
//  border-bottom-color: transparent !important;
// box-shadow: none !important;
//}

//.list-md .item-input.input-has-focus:last-child .item-inner {
//  box-shadow: none;
//}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: map-get($colors, lightgray) !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: map-get($colors, lightgray) !important;
  box-shadow: none !important;
}

//.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
//  box-shadow: none;
//}

//.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}

//.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}