@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Montserrat';
}

.button-md {
  text-transform: none;
  border-radius: 5px;
}

.vertical-center {
  text-align: center;
}

ion-label {
  font-size: 0.8em !important;
}

.no-border > .item-inner {
  border-bottom: none !important;
}

.list-md .item-input {
  border-bottom: none !important;
  margin-bottom: 1em;
}

.list-md .item-block .item-inner {
  border-bottom: 2px solid map-get($colors, primarylighten);
}

.map-card {
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  position: relative;
}

.edit-map {
  font-size: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #383838;
}

.map-title {
  padding: 10px;
  font-size: 1.2em;
}

.map-markers-count {
  padding: 0 10px 10px;
}

.audio-button-container {
  position: initial;
}

.audio-button {
  width: 50px;
  height: 50px !important;
  background-color: map-get($colors, primary);
  color: white;
  // box-shadow: 0px 0px 0px 20px rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  right: 0;
  bottom: 15px;
  z-index: 10;
}

.hide-with-fade {
  transition: opacity 300ms;
  opacity: 0;
}

.error-message {
  color: map-get($colors, danger);
  font-size: 0.9em;
}

.audio-recorder {
  background-color: map-get($colors, primary);
  width: 0%;
  border-radius: 5px;
  height: 50px;
  transition: width 300ms;
  position: absolute;
  right: 0;
  bottom: 15px;
  margin: 4px 4px 4px 0;
}

.audio-recorder-controls {
  opacity: 0;
  text-align: center;
}

.loading-audio {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  z-index: 100;
}

.loading-audio > ion-spinner {
  margin: 1em;
  width: 20px;
  height: 20px;
}

.loading-audio > ion-spinner * {
  stroke: #fff;
  // fill: #fff;
}

.time-counter {
  font-size: 1.1em;
  color: #fff;
}

.record-control {
  font-size: 2em;
  padding: 11px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cancel-record, .delete-record {
  color: palevioletred;
}

.play-record {
  padding: 11px 15px;
  color: #fff;
}

.stop-playing {
  color: #fff;
}

.delete-record {
  left: initial;
  right: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 300ms;
  transition-delay: 500ms;
}

.show-recorder {
  width: 99%;
}

.audio-button.activated {
  background-color: map-get($colors, primary);
  box-shadow: none !important;
}

.add-marker-button {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 20;
}

.take-picture-title .item-inner {
  border-bottom: none !important;
  color: #999 !important;
}

.image-thumbnail-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: #999;
  padding: 50px;
  border-bottom: 2px solid rgba(81, 37, 173, 0.1);
}

.take-picture {
  text-align: center;
}

.take-picture > ion-icon {
  font-size: 3em;
}

.delete-picture-control {
  font-size: 3em;
  position: absolute;
  right: 10px;
  top: 10px;
  background: map-get($colors, background);
  height: 49px;
  width: 49px;
  padding: 0px 5px 0 4px;
  border-radius: 50%;
}

.grid, .col {
  padding: 0;
}

.row, .took-picture {
  position: relative;
}

.item-md {
  padding-left: 0;
}

//.list-md .item-input:last-child {
//  border-bottom: none !important;
//}

//.item-md.item-input.input-has-focus .item-inner {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}

//.list-md .item-input.input-has-focus:last-child {
//  border-bottom-color: transparent !important;
// box-shadow: none !important;
//}

//.list-md .item-input.input-has-focus:last-child .item-inner {
//  box-shadow: none;
//}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: map-get($colors, lightgray) !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: map-get($colors, lightgray) !important;
  box-shadow: none !important;
}

//.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
//  box-shadow: none;
//}

//.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}

//.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
//  border-bottom-color: transparent !important;
//  box-shadow: none !important;
//}

.loading-md .loading-wrapper {
  box-shadow: 0px 0px 47px 6px rgba(0,0,0,0.25);
}

// ion-header {
//   text-align: center;
// }

.title.title-md {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}

.toolbar-title-md, .toolbar-title-ios {
  font-weight: normal;
  font-size: 1.1em;
}

.toolbar-ios, .toolbar-md {
  min-height: 60px;
}

ion-footer {
  height: 70px;
}

.button-ios {
  font-size: 1em;
}

.scroll-content {
  padding-top: 0 !important;
  background: map-get($colors, background);
}

.toolbar-background-md, .input-wrapper, ion-footer  {
  background: map-get($colors, background);
}

// these settings make the inputs white and with the top borders rounded
ion-label {
  margin-bottom: 10px !important;
}

.item-label-stacked .item-inner {
  padding-right: 0 !important;
}

ion-input, ion-textarea {
  padding: 0 5px !important;
  background: #ffffff !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

ion-textarea {
  height: 50px;
}

.image-thumbnail-container {
  background: #FAFAFA !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.no-padding {
  padding: 0;
}