<ion-content>
  <div #map id="map" style="height:100%;">
    <div class="center-marker" *ngIf="isLocationAcquired">
      <img src="./assets/markers/map_pin_icon_fullfilled.png">
    </div>
    <div class="center-map" (click)="centerMap()" *ngIf="isLocationAcquired">
    	<ion-icon name="locate"></ion-icon>
    </div>
    <div class="vertical-center add-marker-button" *ngIf="isLocationAcquired">
      <button ion-button (click)="newMarker()">Marcar este local</button>
    </div>
  </div>
</ion-content>
